# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
/build/
/dist/
/[bs]dist/
/*.egg-info/
*.egg
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/robot_tests.broker.kapitalist.iml
Будет удалено .idea/workspace.xml
